.table-responsive{
    width: 100%;

    .table{
        border-collapse: separate;
        border-spacing: 0 10px;
        background-color: #fff;
        padding: 10px;
        overflow-y: auto;
        border-radius: 10px;
        thead{
            border: none;
            th{
                border: none;
                background-color: #F8F7FF;
                &:first-child{
                    border-radius: 10px 0px 0px 10px;
                }
                &:last-child{
                    border-radius: 0px 10px 10px 0px;
                }
                .sorting-icons{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    div{
                        display: flex;
                        flex-direction: column;
                        span{
                            height: 8px;
                        }
                    }
                }
            }
        }
        tbody{
            td{
                border: 1px solid #F0F0F0;
                border-left: none;
                border-right: none;
                color: #394C60;
                font-weight: 600;
                background-color: #FFF;
                &:first-child{
                    border-left: 1px solid #F0F0F0;
                    border-radius: 10px 0px 0px 10px;
                }
                
                &:last-child{
                    border-right: 1px solid #F0F0F0;
                    border-radius: 0px 10px 10px 0px;
                }
            }
        }
        .url-links{
            width: 30px;
            height: 30px;
            font-size: 18px;
            color: #FFF;
            text-align: center;
            font-weight: 900;
            border-radius: 100%;
            background-color: #394C60;
        }
        .url-links-2{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #FFF;
            text-align: center;
            font-weight: 700;
            border-radius: 100%;
            background-color: #4A46E2;
        }
        .data-actions{
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #FFF;
            text-align: center;
            font-weight: 700;
            border-radius: 5px;
            background-color: #F7FAFC;
        }
    }
}
.not-found-data{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    height: auto;
    background-color: #FFF;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    img{
        width: 100%;
        height: 100%;
    }
}